@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}
img{
    width: 100%;
}
h1{
    font-size: 70px;
    
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.container{
    width: 90%;
    margin: auto;
}
section{
    padding: 50px 0;
}
header{
    background-image: url(../images/dawn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #000000ad;
}
nav{
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h4{
    color: white;
    font-size: 24px;
}
 nav h4 span{
    font-weight: 100;
    background-color: rgba(255, 0, 0, 0);
    height: 0px;
    width: 0px;
 }

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 0 0 20px;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 600;

}

.banner{
    padding: 200px 0 150px;
    text-align: center;
    color: white;
}
.banner h3{
    font-style: italic;
    margin: 0 0 10px 0;
}
span{
    background-color: red;
    height: 5px;
    width: 160px;
    display: inline-block;
    border-radius: 10px;
}
.banner h1{
  
}
.banner button{
    background-color: #d11818;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid #d11818;
    border-radius: 35px;
    transition: all 0.3s linear;
}
.banner button:hover{
    background-color: #d1181800;
    letter-spacing: 3px;
}

/* UPCOMING EVENTS */
.event-main{
    text-align: center;
}
.event-main h2{
    margin: 0;
    font-size: 40px;
}

.event{
    display: flex;
    width: 80%;
    margin: 30px auto 0;
}
.event-box{
    width: 50%;
    margin: 20px;
}
.event-box img{
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.15) 12.95px 12.95px 2.6px;
}
.event-box h4{
    font-size: 20px;
    margin: 25px 0 20px 0;
}
.event-box p{}
.event-box a{
    color: red;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}

/* EXPLORE THE WORLD */
.explore-section{
    background-image: url(../images/father.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color:rgba(0, 0, 255, 0.451);
    color: white;
    background-attachment: fixed;
}
.explore-main{
    display: flex;
}
.explore{
    width: 50%;
}
.explore h1{
    margin-bottom: 0;
}
.explore p{
    margin: 40px 0;
}
.explore a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}
/* TOURS & DESTINATION */
.tours-main{
    display: flex;
}
.tour{
    padding: 14px;
}
.tour h3{
    margin: 0;
}
.tour p{
    margin: 30px 0;
}
.tour a{}
.tour img{}
.small{
    height: 300px;
    object-fit: cover;
    margin: 0 0 20px 0;
}
.large{
    height: 370px;
    object-fit: cover;
    margin: 0 0 20px 0;
}

/* footer */
footer{
    background-color: black;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.fab{
    font-size: 40px;
    color: white;
    margin: 10px;
}